<div class="bubble-container">
  <div class="container">
    <h4>Сооднос на запишани ученици и професори</h4>

    <!-- Dropdown for selecting year -->
    <label for="yearSelect">Изберете година:</label>
    <select id="yearSelect" class="form-select" (change)="onYearChange($event)">
      <option *ngFor="let chart of chartDataByYear" [value]="chart.year">
        {{ chart.year }}
      </option>
    </select>
  
    <!-- Display the chart for the selected year -->
    <div *ngIf="selectedChart" echarts [options]="selectedChart.chartData" class="chart-container" style="height: 400px;"></div>
  </div>
</div>
