@if(!!filteredSuggestions){
  <h3 class="text-center card mb-2">Вкупно училишта: {{filteredSuggestions?.length}}</h3>
}
<div class="row p-2">
    <form [formGroup]="filterForm">
      <div class="form-group">
        <input
          class="form-control mb-2"
          type="text"
          formControlName="filter"
          placeholder="Пребарај Општина/Училиште"
          (input)="handleFilterChange()"
        />
      </div>
      <div class="ps-3 pe-3 card">
        <ul class="row d-flex flex-row gap-2 dataList p-2" formArrayName="filterDataType">
            @for (filterDataType of filteredSuggestions; track filterDataType.filteredDataTypeId){              
                <button input class="col-12 form-control dataList-item d-flex justify-content-start" (click)="locationClicked(filterDataType)">
                  <!-- <input
                    type="checkbox"
                    class="form-check-input"
                    style="cursor: pointer;"
                    name="filterDataType"
                    [value]="filterDataType.filteredDataTypeId"
                    [checked]="isItemSelected(filterDataType.filteredDataTypeId)"
                    (change)="handleSelection($event)"
                  /> -->
                  <!-- (change)="onCheckChange($event)"
                  [checked]="isUserSelected(dataType.filteredDataTypeId)" -->
                  <span class="d-flex justify-content-start text-start">
                    {{ filterDataType.opshtina }}
                    {{ filterDataType.naseleno_mesto }}
                    {{ filterDataType.osnovno_ucilishte }}
                  </span>
                </button>
            }
        </ul>
      </div>
    </form>
  </div>
  