.dataList {
    max-width: fit-content;
    overflow: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 19.5rem);
    list-style: none;
    text-align: justify;
    /* padding: 3px; */
}



.dataList li{
    height: 4rem;   
    background-color: #ffffff;
    font-size: medium; 
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
    align-items: center;

    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.dataList li:hover{

  background-color: #ebe8e8;
  border: rgba(0, 0, 0, 0.39) solid;
}

::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    visibility: hidden;
  }
   
  ::-webkit-scrollbar-thumb {
    border: none;
    box-shadow: none;
    background: rgb(188, 190, 193);
    border-radius: 8px;
    min-height: 50px;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: rgb(128, 134, 139);
  }