.dataList {
    max-width: fit-content;
    overflow: hidden;
    max-height: 10rem;
    list-style: none;
}

.dataList:hover{
    overflow: auto;
}

.dataList li{
    height: 2rem;
}

::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    visibility: hidden;
  }
   
  ::-webkit-scrollbar-thumb {
    border: none;
    box-shadow: none;
    background: rgb(188, 190, 193);
    border-radius: 8px;
    min-height: 50px;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: rgb(128, 134, 139);
  }