<div class="bubble-container"><div class="container">
    <h4>Запишани и завршени ученици во  {{ selectedOpshtina }} по одделение</h4>
    
    <!-- Year Selector -->
    <div class="year-selector">
      <label for="year">Година:</label>
      <select id="year" (change)="onYearChange($event.target.value)">
        <option *ngFor="let year of availableYears" [value]="year" [selected]="year === selectedYear">{{ year }}</option>
      </select>
    </div>
  
    <!-- Stacked Bar Chart -->
    <div echarts [options]="options" class="chart-container" style="height: 400px;"></div>
</div></div>
