<div class="title text-center"><h1>Datathon 2024 Ludilo</h1></div>
<div class="container-fluid d-flex flex-row">
    <div class="search-form col-md-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit vero reprehenderit perspiciatis itaque expedita
        nostrum nulla. Quae vel voluptas molestias pariatur ducimus saepe omnis praesentium exercitationem temporibus
        perferendis, ipsam impedit quas ullam delectus magnam neque nihil eaque explicabo ipsa totam. Ullam, repellendus
        animi voluptatibus tenetur fugiat explicabo libero culpa, rem saepe, dolor aut maxime ducimus! Hic perferendis
        aut, doloribus facilis deserunt, vitae consequatur fugit blanditiis quibusdam dolore quisquam adipisci ipsa,
        voluptates officia omnis natus nesciunt quis dignissimos iste. Cum, dolorum delectus dolor aspernatur nihil
        iusto illum earum, officiis provident laborum, eligendi omnis accusamus vitae molestiae commodi? Est maxime
        tenetur repellendus?
        <!-- <app-form></app-form> -->
    </div>

    <div class="map col-md-8">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis quaerat quisquam, praesentium possimus
        doloremque in laboriosam quasi? Atque sapiente ex qui quidem unde et, sequi modi similique numquam. Officia
        dignissimos veritatis itaque exercitationem, ad vero ea magni quod eveniet voluptatibus, asperiores tenetur,
        optio temporibus voluptatem aperiam voluptas. Aperiam, dolore dolorum?
        <!-- <app-map></app-map> -->
    </div>
</div>