.map{
  margin-top: 35px;
    /* border: 1px solid red; */
    height: 80vh;
  }
  .search-form{
    /* background-color: #e6e6e675; */
    padding: 1rem;
    margin-top: 35px;
    height: 100%;
      /* border: 1px solid blue; */
  }
 
.title{
  height: 60px;
  background-color: #906193;
  padding-left: 50px;
  color: #EDF2F4;
  text-align: left;
}
