.map{
  margin-top: 35px;
    /* border: 1px solid red; */
    height: 80vh;
  }
  .search-form{
    background-color: #e6e6e675;
    margin-top: 35px;
      /* border: 1px solid blue; */
  }
  .offcanvas{
    width: 900px;    
  }
.title{
  height: 60px;
  background-color: #2B2D42;
  padding-left: 50px;
  color: #EDF2F4;
  text-align: left;
}