<div class="title text-center"><h1>Datathon 2024 Ludilo</h1></div>
<div class="container-fluid d-flex flex-row">
    <div class="search-form col-md-4">
        <app-filter></app-filter>
    </div>

    <div class="map col-md-8">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis quaerat quisquam, praesentium possimus
        doloremque in laboriosam quasi? Atque sapiente ex qui quidem unde et, sequi modi similique numquam. Officia
        dignissimos veritatis itaque exercitationem, ad vero ea magni quod eveniet voluptatibus, asperiores tenetur,
        optio temporibus voluptatem aperiam voluptas. Aperiam, dolore dolorum?
        <!-- <app-map></app-map> -->
    </div>
</div>